@import url('https://fonts.googleapis.com/css2?family=Gidugu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background: white;
    border-bottom: 1px solid #ddd;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 70px;
    margin-right: 15px;
}

header .logo span {
    font-family: 'Gidugu', sans-serif;
    font-size: 48px;
    background: linear-gradient(to right, #0d676d, #25b3a5);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #2C3E50;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #42B29C;
}

header .custom-logo {
    height: 50px;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 50px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
    font-family: 'Gilda Display', serif;
    font-size: 32px;
    font-weight: bold;
    color: #083c4d;
    text-align: left;
    margin-bottom: 30px;
    padding-left: 20px;
}

.upload-section {
    border: 2px solid #24cba4;
    border-radius: 8px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-button {
    background: linear-gradient(90deg, #083c4d, #24cba4);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    overflow: hidden;
}

.upload-button:hover {
    opacity: 0.9;
}

.confirm-button {
    background: linear-gradient(90deg, #083c4d, #24cba4);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
}

.confirm-button:hover {
    opacity: 0.9;
}

input[type="file"] {
    display: none;
}

label {
    display: inline-block;
    cursor: pointer;
    background: linear-gradient(90deg, #083c4d, #24cba4);
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 4px;
}

label:hover {
    opacity: 0.9;
}